.s{
color: blue;
font-size: 30px;
font-family: 'Girassol', cursive;
}
.t1{
font-size:40px;
font-family: 'Itim', cursive;
color: blue;
}
#body{
	background-color: black;			
}
#bnt-button{
font-family: 'Anton', cursive;
}
#bnt-button2{
color: red;
}
#img{

}
