#body{
  background-color: Black;
}

#tudo{
  position: relative;
  left: 10px;
  top: 10px;
}
.p2{
  font-size: 40px;
 color: red;
 font-family: 'Itim', cursive;
}
.pepino{
 color: red;
 bottom: 20px;
 position: relative;
 
}
p1{
color: red;  
font-size: 15px;
}
#an{
    position: relative;
    display: block;
    top: 1px;
}

#an:hover{
  color: black;
  
}
.botão1{
  position: absolute;
  border: none;
  height: 30px ;
  width: 75px;
  bottom: 20px;
}

.botão1:hover{
  transition: 0.5s;
  background: #2222dd;

}

.botão2{
  position: relative;
  left: 80px;
  bottom: 20px;
  height: 30px ;
  width: 75px;
  border: none;
}

.botão2:hover{
  transition: 0.5s;
  background: #ff2222;
  
}

.dropdown{
  bottom: 18px;
}
#dropdownMenuButton{
  color: red;



