#body{
  background-color: black;
  position: relative;
  left: 5px;
  top: 5px;
}
p{
  color: red;
  font-family: 'Itim', cursive;
  font-size: 40px;
}
p1{
color:red;
display: block;
}
#dropdownMenuButton{
  color: red;
}
p2{
  color: red;
  position: relative;
  font-size: 30px;
  top: 25px;

}

#tentativa{
  position: absolute;
}

#b1{
  position: relative;
  top: 9px;
  left: 6px;
  border: none;
}
#b1:hover{
  transition: 0.5s;
  background-color: #00FF00;
}
.b2{
  position: relative;
  top: 9px;
  left: 3px;
  border: none;
}
.b2:hover{
  transition: 0.5s;
  background-color: #FF0000;
}


.b3{
  position: relative;
  top: 9px;
  border: none;
}
.b3:hover{
  transition: 0.5s;
  background-color: #FF0000;
}
#caixa{
  color: red;
  position: relative;
  top: 20px;
  font-size: 25px;
  
}