*{
  margin: 0;
  border: none;
}


body{
  background-color: black;
  color: red;
  margin: 1%;
}

#container{
  
  margin: 0.5% 0;
  
  

}
#n1{
  Outline: none;
}

#container2{
  margin: 1% 0;
  width: 100%;
}

#l1{
  margin-right: 1%;
  font-size: 20px;
}

.input-padrao, .button-padrao{
  padding: 0.6%;
  margin-right: 1%;
  
}

#s1{
  padding: 0.2%;
}


.button-padrao{
  padding: 0.6% 2%;
}

#caixa{
  margin-top: 2%;
  text-transform: uppercase;
}