#tudo{
  position: relative;
  left: 10px;
  top: 5px;
}
#body{
  background-color: black;
}

#p1{
color: red;
font-size: 40px;
font-family: 'Itim', cursive;
}
.l{
 font-size: 30px;
}
.a{
  position: absolute;
  left: 15px;
  text-decoration: none;
  color: red;
  font-size: 30px;
  
}
.a:hover{
  text-decoration: underline;
  color: white ;
  
}
.a:active{
  text-decoration: underline;
  color: white ;
}
#b{
 position: relative;
 bottom: 40px;
}
